<div class="flex flex-col justify-between">
    <div class="flex flex-justify-between bg-col-3">
        <p class="p-1 text-xl">Menu</p>
        <button class="btn bg-col-1 text-white"
                (click)="closeNav()">&Larr;</button>
    </div>
    <div class="flex-column">
        <button class="bg-col-3 mt-1 p-1 cursor-pointer slide-right"
                (click)="openCentralModal('log-in-modal')">
            Log In
        </button>

        <button class="bg-col-3 b-b m-t p-a cursor-pointer slide-right"
                (click)="openCentralModal('tasks-modal')">
            Tasks
        </button>
        <button class="bg-col-3 b-b m-t p-a cursor-pointer slide-right"
                (click)="openMovableWindow('movable-window')">
            Movable Window
        </button>

        <button class="bg-col-3 b-b m-t p-a cursor-pointer slide-right"
                (click)="openCentralModal('tab-modal')">
            Tabs
        </button>

        <test-component-a></test-component-a>
    </div>

    <div class="bg-slate-500/25">
        <button class="bg-slate-500/25 p-1">options</button>
    </div>
</div>
