<div class="bg-amber-200">
  <h1 class="text-center p-2">Task List</h1>

  <div class="p-2 text-center">
    <input #taskInput type="text" />
    <button
      class="bg-slate-500"
      (click)="
        listState.state === 'success' &&
          addTask(taskInput.value, listState.results);
        taskInput.value = ''
      "
    >
      Add task
    </button>
  </div>

  <div class="p-2" *ngIf="listState.state === 'success'">
     
    <button
      class="p-2 bg-slate-500/25 mt-2 flex justify-between w-full"
      [ngClass]="{ 'bg-lime-500/70' : task.done }"
      *ngFor="let task of listState.results"
      (click)="!task.isEditMode && toggleDoneState(task.id)"
      (dblclick)="editTask(task.id)"
    >
      <p [class.line-through]="task.done" *ngIf="!task.isEditMode">
        {{ task.name }}
      </p>

      <div *ngIf="task.isEditMode">
        <input #taskEditInput type="text" [value]="task.name" />
        <button
          class="bg-slate-500/25 p-1 mr-1"
          (click)="
            updateTask(task.id, { name: taskEditInput.value, done: task.done })
          "
        >
          apply
        </button>
        <button class="bg-slate-500/25 p-1" (click)="cancelUpdate(task.id)">
          X
        </button>
      </div>

      <div>
        <button class="bg-slate-500/25 p-1" (click)="deleteTask(task.id)">
          delete
        </button>
        <p [title]="task.createdAt | customDate">created:</p>
      </div>
    </button>
  </div>

  <p *ngIf="listState.state === 'loading'">Loading...</p>
  <p *ngIf="listState.state === 'error'">{{ listState.error.message }}</p>
</div>
