<div class="bg-slate-300/50 flex justify-center">
    <div class="p-2 flex">
        <input type="text"
               name="search"
               id="search"
               [(ngModel)]="searchInput"
               class="rounded-xl mr-2 text-center">

        <select name="pageSize"
                id="pageSize"
                [(ngModel)]="pageSize"
                class="rounded-xl mr-2">
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
        </select>

        <button class="p-2 bg-slate-600 text-white rounded-xl"
                (click)="getData()">Search</button>

    </div>

</div>
<div class="overflow-y-auto m-10"
     [style.height]="100 + '%'">
    <div class="grid grid-cols-4 gap-1">
        <image-card class="bg-white/50 rounded-xl"
                    *ngFor="let card of cards"
                    [imageUrl]="card.links ? card.links[0].href : ''"></image-card>
    </div>

</div>
