<div class="absolute z-10 w-full h-full">
    <!-- add headerHeight directive or something -->
    <div style="margin-top: 40px;">
        <h1 class="w-full text-xl text-center pt-6 pb-6">APOD</h1>

        <div class="flex justify-center ">

            <div class="flex flex-column bg-slate-500 w-1/2 p-4">

                <h2 class="text-lg text-white mb-4">{{title}}</h2>

                <img *ngIf="mediaType === 'image'"
                     [src]="imageUrl"
                     class="max-h-80 object-cover cursor-pointer"
                     alt="APOD"
                     (click)="enlarge()">

                <div *ngIf="mediaType === 'video'"
                     class="flex flex-column">
                    <p>click the link below to see full video:</p>
                    <a [href]="imageUrl">{{imageUrl}}</a>
                </div>

                <p class="text-white mt-4">{{description}}</p>
            </div>
        </div>
    </div>

</div>
<!-- lightbox -->
<div class="absolute z-40"
     *ngIf="showLightbox">
    <button class="absolute right-0 top-0 bg-white/50 p-2 m-8  rounded-lg"
            (click)="showLightbox = false">&#10006;</button>
    <div class="overflow-auto"
         style="max-width: 100vw; max-height: 100vh;">
        <img [src]="hdImageUrl"
             alt="APOD"
             class="object-contain">

    </div>
</div>
