<background></background>

<header-component class="absolute z-20 w-screen"></header-component>

<router-outlet class="absolute"></router-outlet>

<navmodal class="nav-modal z-30"
          [ngClass]="{ 'nav-modal-open': navOpened }"
          (clickOutside)="closeNavModal()"></navmodal>

<!-- <button class="btn bg-col-1 text-white z-10 absolute"
        (click)="openNavModal()"
        [ngClass]="{ invisible: navOpened }">
  &Rarr;
</button> -->

<central-modal [title]="'Tasks'"
               [modalName]="'tasks-modal'"
               class="central-modal rounded-xl shadow-lg bg-stone-200"
               *ngIf="taskModalOpened">
  <tasks />
</central-modal>


<central-modal [title]="'Log In'"
               [modalName]="'log-in-modal'"
               class="central-modal rounded-xl shadow-lg bg-stone-200"
               *ngIf="logInModalOpened">
  <log-in></log-in>
</central-modal>

<movable-window class="absolute"
                style="top: 0; left: 0"
                *ngIf="movableWindowOpened"
                (close)="movableWindowOpened = false">
  <test-component-b></test-component-b>

</movable-window>

<central-bottom-panel class="pos-fixed bottom center"></central-bottom-panel>