<!-- <app-header></app-header> -->
<navmodal
  class="nav-modal"
  [ngClass]="{ 'nav-modal-open': navOpened }"
  (clickOutside)="closeNavModal()"
></navmodal>

<button
  class="btn bg-col-1"
  (click)="openNavModal()"
  [ngClass]="{ invisible: navOpened }"
>
  >>
</button>

<central-modal class="central-modal rounded-xl shadow-lg bg-stone-200" *ngIf="taskModalOpened">
  <tasks/>
</central-modal>

<movable-window class="absolute w-6/12" style="top: 0; left: 0" *ngIf="movableWindowOpened" (close)="movableWindowOpened = false">
  test
</movable-window>



<central-bottom-panel class="pos-fixed bottom center"></central-bottom-panel>
