<central-modal [title]="'Tasks'"
               [modalName]="'tasks-modal'"
               class="central-modal rounded-xl shadow-lg bg-stone-200"
               [hidden]="!isModalOpened('tasks-modal')">
    <tasks />
</central-modal>

<central-modal [title]="'Log In'"
               [modalName]="'log-in-modal'"
               class="central-modal rounded-xl shadow-lg bg-stone-200"
               [hidden]="!isModalOpened('log-in-modal')">
    <log-in></log-in>
</central-modal>

<central-modal title="tab-modal"
               modalName="tab-modal"
               class="central-modal rounded-xl shadow-lg bg-stone-200 max-w-28"
               [hidden]="!isModalOpened('tab-modal')">

    <tabs-container>
        <tab title="tab1">tab content</tab>

        <tab title="tab2">tab content 2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatum modi,
            voluptatem nam expedita totam asperiores accusamus repellendus eveniet odit.</tab>

        <tab title="tab3">tab content 3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, iste
            voluptate sunt commodi ad nisi nobis nam est deserunt Lorem ipsum dolor sit amet consectetur, adipisicing
            elit. Eveniet quia ratione incidunt esse dolor, est fugiat sint nihil velit excepturi.</tab>
    </tabs-container>

</central-modal>
