@tailwind base;
@tailwind components;
@tailwind utilities;

$colGrayLight: #999;
$colGrayMedium: #666;
$colGrayDark: #333;
$halfTransparent: rgba(0,0,0,.5);

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   // font-family: helvetica
// }
body {
  background-color: $colGrayLight;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}



.ff-1 {
  font-family: helvetica;
}

// colors
.col-w {
  color: white;
}
.col-b {
  color: black;
}
.col-1 {
  color: #85f;
}

.col-2 {
  color: #fca;
}

.col-red {
  color: #f00;
}
.col-green {
  color: #0f0;
}
// bg colors
.bg-col-w {
  background-color: white;
}
.bg-col-1 {
  background-color: $colGrayMedium;
}
.bg-col-2 {
  background-color: $colGrayDark;
}
.bg-col-3 {
  background: $colGrayLight;
}
.bg-col-green {
  background-color: #0f0;
}
.bg-col-red {
  background-color: #f00;
}

.standard-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}
// paddings

.p-a {
  padding: .5em;
}

// margins

.m-t {
  margin-top: .5em;
}
.m-b {
  margin-bottom: .5em;
}

// $headerHeight: 50px;
$offsetTop: 50px;
$border: 1px solid rgba(0,0,0,.5);

.nav-modal {
  position: fixed;
  left: 0;
  top: 0;
  // height: calc(100vh - #{$offsetTop});
  height: 100vh;
  width: 200px;
  // border-right: $border;
  background: linear-gradient(to right, rgba(0,0,0,.5), transparent);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.nav-modal-open {
  transform: translateX(0);
}

.btn {
  padding: .5em;
  border: 1px solid;
  border-radius: 5px;
  transition: transform .3s ease, filter .3s ease;
  cursor: pointer;
  &:hover {
    transform: translateY(1px);
    filter: brightness(120%);
  }
}
// flexbox

.flex {
  display: flex;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

// visibility

.invisible {
  visibility: hidden;
}

// borders 

.b-b {
  border-bottom: 1px solid $halfTransparent;
}

.cursor-pointer {
  cursor: pointer;
}

.slide-right {
  transition: transform .3s ease, filter .3s ease;
  &:hover {
    transform: translateX(4px);
    filter: brightness(120%);
  }
}

.central-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(0.1);
  min-width: 500px;
  min-height: 500px;
}

.pos-fixed {
  position: fixed;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}
.bottom {
  bottom: 0
}

@font-face {
  font-family: 'sixtyfour';
  src: url('assets/fonts/Sixtyfour-Regular.ttf');
}